<footer class="w-100 bottom-0 start-0 text-center">
  <h6>Project done by Mateus Colombo Godoy, as a conclusion to <a class="link" href="https://cs50.harvard.edu/x/2024/"
      target="_blank" rel="noopener noreferrer">CS50</a>.</h6>
</footer>
</body>

</html>