<%- include('includes/head.ejs') %>
  </head>

  <body class="body">
    <main class="p-4">
      <div class="text-center d-flex flex-column mt-5">
        <h1 class="title">404</h1>
        <hr class="m-5">
        <h2 class="fs-4">That's a trivia that we don't know the answer! ☹️</h2>
        <p>Go back to <a class="link" href="/">Home</a> page to start a new Trivia game!</p>
      </div>

    </main>
    <%- include('includes/footer.ejs') %>