<%- include('includes/head.ejs') %>
  </head>

  <body>
    <main>
      <div>
        <h1>Game Over</h1>
        <h2>Thank you for playing! 🙂</h2>
        <p>Don't let this result put you down! Go to the <a href="/">Home</a> page and start a new Trivia right away!
        </p>
        <p>Wish you best of luck next time!</p>


      </div>

    </main>
    <%- include('includes/footer.ejs') %>