<%- include('includes/head.ejs') %>
  </head>

  <body class="body">
    <main class="p-4">
      <div class="text-center d-flex flex-column mt-5">
        <h1 class="title">
          <%= title %>
        </h1>
        <hr class="m-5">
        <h2 class="fs-4">Sorry. Something unexpected happen! ☹️</h2>

        <p>Go back to <a class="link" href="/">homepage</a> to start a new Trivia game!</p>
        <hr class="m-5">
        <p class="alert alert-danger">
          <%= message %>
        </p>
      </div>

    </main>
    <%- include('includes/footer.ejs') %>