<%- include('includes/head.ejs') %>
  </head>

  <body>
    <main>
      <div>
        <h1>
          <%= title %>
        </h1>
        <h2>Sorry. Something unexpected happen! ☹️</h2>

        <p>Checkout the <a href="/rules">rules</a> page to learn more about the game.</p>
        <hr>
        <p class="alert alert-danger">
          <%= message %>
        </p>
      </div>

    </main>
    <%- include('includes/footer.ejs') %>