<%- include('includes/head.ejs') %>
  <script src="/scripts/game.js" defer></script>
  </head>

  <body>
    <main>
      <form action="/game" method="post">
        <div id="lifeline">
          <div>
            Lifelines
          </div>
          <div>
            <input type="radio" class="btn-check" name="lifeline" value="audience" id="audience" autocomplete="off">
            <label class="btn btn-info" for="audience">Audience</label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="lifeline" value="expert" id="expert" autocomplete="off">
            <label class="btn btn-info" for="expert">Expert</label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="lifeline" value="50:50" id="50:50" autocomplete="off">
            <label class="btn btn-info" for="50:50">50:50</label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="lifeline" value="skip" id="skip" autocomplete="off">
            <label class="btn btn-info" for="skip">Skip</label>
          </div>
        </div>
        <div id="question">Loading...</div>
        <div id="answers">
          <div>
            <input type="radio" class="btn-check" name="answer" id="a" autocomplete="off">
            <label class="btn btn-primary" for="a"></label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="answer" id="b" autocomplete="off">
            <label class="btn btn-primary" for="b"></label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="answer" id="c" autocomplete="off">
            <label class="btn btn-primary" for="c"></label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="answer" id="d" autocomplete="off">
            <label class="btn btn-primary" for="d"></label>
          </div>
        </div>
        <button id="confirm" type="submit">Confirm</button>
      </form>
      <p id="message" class="alert"></p>
    </main>
    <%- include('includes/footer.ejs') %>