<%- include('includes/head.ejs') %>
  <script src="/scripts/game.js" defer></script>
  </head>

  <body class="body d-flex flex-column justify-content-center">
    <main class="main-game">
      <div class="card">
        <h5 class="card-header featured">Level
        </h5>
        <div class="card-body card-content">
          <form class="question-container" action="/answer" method="post">
            <div id="question">Loading...</div>
            <div id="answers">
              <div class="answer-div">
                <input type="radio" class="btn-check" name="answer" id="a" autocomplete="off">
                <label class="btn btn-outline-secondary" for="a"></label>
              </div>
              <div class="answer-div">
                <input type="radio" class="btn-check" name="answer" id="b" autocomplete="off">
                <label class="btn btn-outline-secondary" for="b"></label>
              </div>
              <div class="answer-div">
                <input type="radio" class="btn-check" name="answer" id="c" autocomplete="off">
                <label class="btn btn-outline-secondary" for="c"></label>
              </div>
              <div class="answer-div">
                <input type="radio" class="btn-check" name="answer" id="d" autocomplete="off">
                <label class="btn btn-outline-secondary" for="d"></label>
              </div>
            </div>
            <button class="btn btn-warning" id="confirm" type="submit">Confirm</button>
          </form>
        </div>
        <div class="card-footer text-body-secodary featured">
          <div class="timer-container">
            <div class="timer-counter"> 0:45</div>
            <div class="timer-bar"><span class="timer-icon">⌛</span></div>
          </div>
        </div>
      </div>

      <p id="message" class="mt-5 alert"></p>
    </main>
    <%- include('includes/footer.ejs') %>