<%- include('includes/head.ejs') %>
  <script src="/scripts/game.js" defer></script>
  </head>

  <body>
    <main>
      <form action="/answer" method="post">
        <div id="question">Loading...</div>
        <div id="answers">
          <div>
            <input type="radio" class="btn-check" name="answer" id="a" autocomplete="off">
            <label class="btn btn-primary" for="a"></label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="answer" id="b" autocomplete="off">
            <label class="btn btn-primary" for="b"></label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="answer" id="c" autocomplete="off">
            <label class="btn btn-primary" for="c"></label>
          </div>
          <div>
            <input type="radio" class="btn-check" name="answer" id="d" autocomplete="off">
            <label class="btn btn-primary" for="d"></label>
          </div>
        </div>
        <button id="confirm" type="submit">Confirm</button>
      </form>
      <p id="message" class="alert"></p>
    </main>
    <%- include('includes/footer.ejs') %>