<%- include('includes/head.ejs') %>
  </head>

  <body>
    <main>
      <div>
        <h1>Trivia50</h1>
        <h2>Hello, and welcome! 👋</h2>
        <p>Checkout the <a href="/rules">rules</a> page to learn more about the game.</p>
        <p>Once you're ready, choose at least 10 Trivia categories below, and let's get started!</p>
        <form action="/" method="post">
          <div>
            <input type="checkbox" autofocus value="charmander" name="charmander" id="charmander">
            <label for="charmander">Charmander</label>
          </div>
          <div>
            <input type="checkbox" value="bulbassaur" name="bulbassaur" id="bulbassaur">
            <label for="bulbassaur">Bulbassaur</label>
          </div>
          <div>
            <input type="checkbox" value="squirtle" name="squirtle" id="squirtle">
            <label for="squirtle">Squirtle</label>
          </div>
          <button type="submit">Choose</button>
        </form>
      </div>

    </main>
    <%- include('includes/footer.ejs') %>