<%- include('includes/head.ejs') %>
  <script src="scripts/index.js" defer></script>
  </head>

  <body class="body">
    <main>
      <div>
        <h1>Trivia50</h1>
        <h2>Hello, and welcome! 👋</h2>
      </div>
      <p>Checkout the <a href="/rules">rules</a> page to learn more about the game.</p>
      <p class="message">Loading Trivia categories...</p>

      <form action="/" method="post">
      </form>

    </main>
    <%- include('includes/footer.ejs') %>