<%- include('includes/head.ejs') %>
  <script src="scripts/index.js" defer></script>
  </head>

  <body class="body">
    <main class="main">
      <div class="hero">
        <h1 class="title">Trivia50</h1>
        <h2 class="sub-title">Hello, and welcome! 👋</h2>
        <p>Checkout the <a class="link" href="/rules">rules</a> page to learn more about the
          game.</p>
        <p class="message">Loading Trivia categories...</p>
      </div>
      <form action="/" method="post">
      </form>

    </main>
    <%- include('includes/footer.ejs') %>